/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

body{
    background: linear-gradient(to top, #D1DBDB , #DDDBD1 85%, #009688 85%);
}

.text-small-grey{
    font-size: .6rem;
    color: rgb(112, 112, 112);
    vertical-align: super;
}

i{
    cursor: pointer;
}

/* CONTAINER  */
#container{
    height: 95vh;
    width: 80vw;
    margin: 2.5vh auto;
}

.header{
    background-color: rgb(234,234,234);
    height: 60px;
    padding: .5rem;
}
.header img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.header .name,
#notifications span{
    font-size: .8rem;
    font-weight: 500;
}
.header .icons-list li{
    color: rgb(180, 180, 180);
    font-size: 1.1rem;
}

.header i:hover{
    color: #009688;
    text-shadow: 2px 2px 4px #c1c1c1;
}

/* SX contacts */
#contacts-area{
    width: 35%;
}

#contacts-area .header{
    border-right:1px solid lightgrey;
}

/* notifications  */
#notifications{
    background-color: rgb(142,218,251);
}

#notifications #bell{
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 1.1rem;
    color: rgb(142,218,251);
}

/* nav con searchbar  */
#search nav{
    height: 1.75rem;
}

#search nav *{
    border-color:rgb(235,235,235) ;
}

#search nav #glass{
    width: 15%;
    color: rgb(180,180,180);
    font-size: .8rem;
    cursor: pointer;
}


#search nav input{
    font-size: .7rem;
}

/* contacts list  */
#contacts-area ul img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#contacts-list li{
    cursor: pointer;
}

#contacts-list li:not(:last-child){
    border-bottom: 1px solid rgb(235, 235, 235);
}

#contacts-list li span{
    font-size: .7rem;
    color: rgb(190, 190, 190);
    vertical-align: super;
}

li.backgrey{
    background-color: rgb(230, 230, 230);
}

#contacts-list li:hover{
    background-color: rgb(246, 246, 246);
}

li span#time{
    position: absolute;
    top: .5rem;
    right: .5rem;
}


/* DX CHAT-AREA */
#chat-area{
    width: 65%;
    position: relative;
}
/* CHAT-MAIN */
#chat-main{
    background-image: url('../img/mine.jpg');
    height: calc(100% - 120px);
    overflow-y: auto;
}

.message{
    width: 30%;
    border-radius: 8px;
    padding: .75rem;
    font-size: .8rem;
    position: relative;
    margin-bottom: 1rem;
}

.message.sent{
    background-color: rgb(213,249,186);
    left: calc(70% - 5rem)
}

.message.received{
    background-color: white;
    left: 5rem;
}

.message .time-message{
    color: rgb(180, 180, 180);
    font-size: .5rem;
    position: absolute;
    bottom: .2rem;
    right: .2rem;
}
/* SEND-MESSAGE  */
#send-message{
    height: 60px;
    width: 100%;
    bottom: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(255,255,255,0.5); 
}

#send-message i{
    font-size: 1.25rem;
    color: grey;
}

#send-message input{
    border: none;
    font-size: .8rem;
}

#send-message #smile i:hover{
    color: rgb(235, 194, 11);
}
